:root
{
  --uic-logger-root-bor: #00000045;
  --uic-logger-lvlerror-bg: #efbdbde6;
  --uic-logger-lvlerror-col: #620000;
  --uic-logger-lvlerror-img: url(level-error.svg);
  --uic-logger-lvlwarn-bg: #efe7a2e8;
  --uic-logger-lvlwarn-col: #623f00;
  --uic-logger-lvlwarn-img: url(level-warning.svg);
  --uic-logger-lvlinfo-bg: #c8fffae6;
  --uic-logger-lvlinfo-col: #001e62;
  --uic-logger-lvlinfo-img: url(level-info.svg);
  --uic-logger-lvlsuccess-bg: #a7ffa7e6;
  --uic-logger-lvlsuccess-col: #005200;
  --uic-logger-lvlsuccess-img: url(level-success.svg);
  --uic-logger-root-x: url(close.svg);
  --uic-logger-root-x-error: #df8181d4;
  --uic-logger-root-x-success: #81df86d4;
  --uic-logger-root-x-warn: #dfb881d4;
  --uic-logger-root-x-info: #81c3dfd4;
  --uic-logger-anime-bor: #00000045;
}

@media (device-width < 550px)
{
  div.uic-logger-root div[class*="uic-logger-lvl"] > div
  {
    min-width: 100px;
    height: 140px;
    background-size: 50px;
  }
  div.uic-logger-root > div[class*="uic-logger-lvl"]
  {
    animation-name: uic-logger-anime-mob;
    border-radius: 20px;
  }
  div.uic-logger-root h3
  {
    font-size: 40px;
  }
  div.uic-logger-root div[class*="uic-logger-lvl"] > span 
  {
    min-width: 380px;
    font-size: 40px;
    line-height: 34px;
  }
  div.uic-logger-root div[class*="uic-logger-lvl"] > span > span
  {
    font-size: 30px;
  }
  div.uic-logger-root div[class*="uic-logger-lvl"] > s
  {
    width: 60px;
    height: 100%;
    padding-top: 10px;
  }
  div.uic-logger-root div[class*="uic-logger-lvl"] > s > span
  {
    width: 100%;
    height: 35%;
    background-size: contain;
  }
}

@keyframes uic-logger-anime
{
  0%
  {
    border: 1px solid var(--uic-logger-anime-bor);
    height: 0px;
    width: 0px;
    margin-bottom: 5px;
  }
  3%
  {
    border: 1px solid var(--uic-logger-anime-bor);
    height: 70px;
    width: 0px;
    margin-bottom: 5px;
  }
  5%
  {
    border: 1px solid var(--uic-logger-anime-bor);
    height: 70px;
    width: 280px;
  }
  95%
  {
    border: 1px solid var(--uic-logger-anime-bor);
    height: 70px;
    width: 280px;
    margin-bottom: 5px;
  }
  100% 
  {
    border: 0px solid var(--uic-logger-anime-bor);
    height: 70px;
    width: 0px;
    margin-bottom: 5px;
  }
}

@keyframes uic-logger-anime-mob
{
  0%
  {
    border: 2px solid var(--uic-logger-anime-bor);
    height: 0px;
    width: 0px;
    margin-bottom: 5px;
  }
  3%
  {
    border: 2px solid var(--uic-logger-anime-bor);
    height: 140px;
    width: 0px;
    margin-bottom: 5px;
  }
  5%
  {
    border: 2px solid var(--uic-logger-anime-bor);
    height: 140px;
    width: 560px;
  }
  95%
  {
    border: 2px solid var(--uic-logger-anime-bor);
    height: 140px;
    width: 560px;
    margin-bottom: 5px;
  }
  100% 
  {
    border: 0px solid var(--uic-logger-anime-bor);
    height: 140px;
    width: 0px;
    margin-bottom: 5px;
  }
}

.uic-logger-root
{
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  z-index: 999;
}

.uic-logger-root > div
{
  animation-name: uic-logger-anime;
  animation-duration: 10s;
  animation-iteration-count: 1;
  display: flex;
  height: 0px;
  width: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: 0px solid var(--uic-logger-root-bor);
  text-align: center;
  cursor: default;
  overflow: hidden;
  box-sizing: content-box;
}

.uic-logger-root h1,
.uic-logger-root h2,
.uic-logger-root h3,
.uic-logger-root h4,
.uic-logger-root h5,
.uic-logger-root h6
{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
}

.uic-logger-root .uic-logger-lvlerror
{
  background-color: var(--uic-logger-lvlerror-bg);
  color: var(--uic-logger-lvlerror-col);
}
	  
.uic-logger-root .uic-logger-lvlwarn
{
  background-color: var(--uic-logger-lvlwarn-bg);
  color: var(--uic-logger-lvlwarn-col);
}
	  
.uic-logger-root .uic-logger-lvlinfo
{
  background-color:var(--uic-logger-lvlinfo-bg);
  color: var(--uic-logger-lvlinfo-col);
}

.uic-logger-root .uic-logger-lvlsuccess
{
  background-color: var(--uic-logger-lvlsuccess-bg);
  color: var(--uic-logger-lvlsuccess-col);
}

.uic-logger-root > div > div
{
  width: 50px;
  height: 70px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.uic-logger-lvlerror > div
{
  background-image: var(--uic-logger-lvlerror-img);
}

.uic-logger-lvlinfo > div
{
  background-image: var(--uic-logger-lvlinfo-img);
}

.uic-logger-lvlwarn > div
{
  background-image: var(--uic-logger-lvlwarn-img);
}

.uic-logger-lvlsuccess > div
{
  background-image: var(--uic-logger-lvlsuccess-img);
}

.uic-logger-root > div > span
{
  margin-top: 3px;
  width: 200px;
  font-size: 18px;
  line-height: 17px;
  flex-shrink: 0;
}

.uic-logger-root > div >  span > span
{
  display: block;
  font-size: 14px;
}

.uic-logger-root > div > s
{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 15px;
  padding-top: 3px;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
}

.uic-logger-root > div > s > span
{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-size: 15px;
  background-image: var(--uic-logger-root-x);
  background-repeat: no-repeat;
  background-position: center;
}

.uic-logger-root .uic-logger-lvlerror > s > span:hover
{
  background-color: var(--uic-logger-root-x-error);
}

.uic-logger-root .uic-logger-lvlsuccess > s > span:hover
{
  background-color: var(--uic-logger-root-x-success);
}

.uic-logger-root .uic-logger-lvlwarn > s > span:hover
{
  background-color: var(--uic-logger-root-x-warn);
}

.uic-logger-root .uic-logger-lvlinfo > s > span:hover
{
  background-color: var(--uic-logger-root-x-info);
}
