.uic-strupl-input,
.uic-strupl-fdbtn label + input,
.uic-strupl-root > h2 + h2
{
  display: none;
}

.uic-strupl-fdrop
{
  align-self: center;
  width: 100%;
  max-width: 1065px;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.uic-strupl-root
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  height: 100%;
  min-height: 570px;
  padding: 20px 20px;
  user-select: none;
}

.uic-strupl-root > h2 
{
  margin: 0px 0px 20px 0px;
  font-size: 2.81em;
  text-align: center;
  font-weight: 800;
  color: #afafaf;
  font-family: math;
}

.uic-strupl-dhide
{
  background-color: #fafafa;
}

/*.uic-strupl-dshow
{
  background-color: #ececec;
  transition: background-color 0.250s;
}*/

.uic-strupl-dshow .uic-strupl-fdimg
{
  width: 100%;
  transform: scale(1.1);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.uic-strupl-fdrop > div
{
  height: 100%;
  border-image-source: repeating-linear-gradient(45deg, #ebebeb00 0% 2%, #afafaf 2% 4%,#ebebeb00 4% 6%,#afafaf 6% 8%);
  border-width: 4px;
  border-image-slice: 4;
  border-style: solid;
  padding: 30px;
}

.uic-strupl-fdimg
{
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:  url(up-file.svg);
  border: 15px solid transparent;
}

.uic-strupl-dshow > div > div + div
{
  opacity: 0.3;
}

.uic-strupl-fdbtn
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: none;
  width: auto;
  height: auto;
  pointer-events: auto;
}

.uic-strupl-fdbtn > label
{
  display: flex;
  align-items: center;
  width: 270px;
  color: #afafaf;
  font-size: 45px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  padding: 5px 10px 5px 30px;
  cursor: pointer;
  font-family: system-ui;
  flex-shrink: 0;
}

.uic-strupl-fdbtn > label:hover
{
  background-color: #e2e2e2;
}

.uic-strupl-fdbtn > label > span
{
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-image: url(search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dark-mode .uic-strupl-fdimg
{
  background-image: url(up-file-hover.svg);
}

.dark-mode .uic-strupl-fdbtn > label
{
  background-color: transparent;
}

.dark-mode .uic-strupl-fdbtn > label:hover
{
  background-color: #45454540;
}

.dark-mode div.uic-strupl-dhide,
.dark-mode div.uic-strupl-dshow
{
  background-color: transparent;
}

@media (device-width <= 550px)
{
  .uic-strupl-root
  {
    display: flex;
    justify-content: center;
    min-height: 680px;
  }
  .uic-strupl-fdrop
  {
    height: 100%;
    max-height: 1100px;
  }
  .uic-strupl-fdrop > div
  {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .uic-strupl-fdimg
  {
    height: calc(100% - 75px);
  }
  .uic-strupl-fdbtn
  {
    height: auto;
  }
}

@media (device-width <= 300px)
{
  .uic-strupl-fdrop
  {
    width: auto;
    height: auto;
  }
  .uic-strupl-fdrop > div
  {
    width: auto;
  }
  .uic-strupl-fdimg
  {
    display: none;
  }
  .uic-strupl-fdimg + div
  {
    display: block;
  }
  .uic-strupl-fdbtn > label
  {
    width: 470px;
    font-size: 80px;
  }
  .uic-strupl-fdbtn > label > span
  {
    width: 80px;
    height: 80px;
  }
  .uic-strupl-root > h2
  {
    display: none;
  }
  .uic-strupl-root > h2 + h2
  {
    display: block;
    font-size: 4.81em;
    font-weight: 800;
    color: #afafaf;
    font-family: math;
    margin: 0px 0px 20px 0px;
  }
}
