:root
{
  --uic-loading-root-bg: #1e1e1e91;
  --uic-loading-show-img: url(file-upload.svg);
}

.uic-loading-root
{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  min-height: 555px;
  background-color: var(--uic-loading-root-bg);
}

.uic-loading-show
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.uic-loading-show > div
{
  width: 160px;
  height: 160px;
  background-image: var(--uic-loading-show-img);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (device-width < 550px)
{
  .uic-loading-show > div
  {
    width: 320px;
    height: 320px;
  }
}
